<% title "Viewing Enquiry" %>

<% if policy(@enquiry).destroy? %>
  <p>
    <%= link_to 'Delete Enquiry', @enquiry,
      data: { confirm: 'Are you sure you want to delete this enquiry?' },
      method: :delete,
      class: "btn btn-danger",
      role: "button"
    %>
  </p>
<% end %>

<%= render partial: 'enquiry', locals: { enquiry: @enquiry } %>
